 .index-logo{
    position: relative;
    margin-top: 0; margin-left: 0%; margin-right: 0%; margin-bottom: 0; 
    max-width: 100%;
    max-height: auto;
    font-size: 1.0rem;
  }
  .tmp-logo{
    position: absolute;
    top:-90%;
    left:-12%;
    transform: translate(12%, 90%);
    transform:scale(0.3,0.3);
    max-width: 100%;
    max-height: auto;
    border: 0px;
    border-color: transparent;
    background-color: transparent;
    box-shadow: transparent;
    transition:none;
  }
  .img-searchpanel{
    position: relative;
    margin-top: 0; margin-left: 2%; margin-right: 2%; margin-bottom: 0; 
    max-width: 100%;
    max-height: 120%;
    width: 100%;
    height: auto;
    font-size: 1.0rem;
  }
  .img-searchpanel .form-searchpanel{
    position: absolute;
    top:50%;
    left:35%;
    transform: translate(-35%, -50%);
    text-align: left;
    z-index:1;
    font-size: 0.95em;
    background-color: transparent;
    border: 0px;
    border-color: transparent;
    box-shadow: transparent;
    max-width: 75%;
    max-height: auto;
    transition:none;
  }
  .img-searchpanel .search-btn{
    position: absolute;
    top:50%;
    left:93%;
    transform: translate(-93%, -50%);
    text-align: center;
    padding-top: 0; padding-left: 0; padding-right: 0; padding-bottom: 0;
    z-index:2;
    font-size: 0.9em;
    color: white;
    max-width: 100%;
    max-height: 75%;
    width: 10%;
    height: 40%;
  }
 
  .nav-subject{
    position: relative;
    margin-top: 0; margin-left: 0%; margin-right: 0%; margin-bottom: 0; 
    max-width: 100%;
    max-height: auto;
    height: 30%;
  }     
  .nav-subject-text{
    position: absolute;
    top:50%;
    left:10%;
    transform: translate(-10%, -50%);
    
    margin-top: 0; margin-left: 0%; margin-right: 0%; margin-bottom: 0;
    padding-top: 10%; padding-left:0%; padding-right: 10%; padding-bottom: 10%;
    
    max-width: 100%;
    max-height: auto;
    font-weight : 500;
    font-size: 1.8rem;
  }  
  .nav-logo{
    position: relative;
    font-size:1.0rem;
    margin-top: 0%; margin-left: 0%; margin-right: 0%; margin-bottom: 0%; /* 투명 칸 안 이미지 크기 */
    padding-top: 10%; padding-left:10%; padding-right: 10%; padding-bottom: 10%; /* 이미지 안 텍스트 크기 */

    max-width: 100%;
    max-height: auto;
  }
  .nav-logo .nav-logo-btn{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:2;
    width: 80%;
    height: 80%;
    margin-top: 0%; margin-left: 0%; margin-right: 0%; margin-bottom: 0%;
    padding-top: 0%; padding-left: 0%; padding-right: 0%; padding-bottom: 0%;
  }

  .nav-searchpanel{
    position: relative;

    margin-top: 0; margin-left: 0%; margin-right: 0%; margin-bottom: 0;
    padding-top: 0; padding-left: 0%; padding-right: 0%; padding-bottom: 0;

    max-width: 100%;
    min-width: 50%;
    max-height: auto;
    
    font-size: 1.0rem;
  }
  .nav-searchpanel .form-searchpanel{
    position: absolute;
    top:50%;
    left:40%;
    transform: translate(-40%, -50%);

    margin-top: 0; margin-left: 0%; margin-right: 0%; margin-bottom: 0;
    text-align: left;
    z-index:2;
    font-size: 0.95em;

    max-width: 90%;
    max-height: auto;
    width: 70%;
    height: auto;

    background-color: transparent;
    border: 0px;
    border-color: transparent;
    box-shadow: transparent;
  }
  .nav-searchpanel .search-btn{
    position: absolute;
    top:50%;
    left:93%;
    transform: translate(-93%, -50%);
    text-align: center;
    padding-top: 0; padding-left: 0; padding-right: 0; padding-bottom: 0;
    z-index:2;
    font-size: 0.9em;
    color: white;
    max-width: 100%;
    max-height: 75%;
    width: 10%;
    height: 40%;
  }
  .form-control:focus {
    color: #495057;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
  }
  .img-recommend{
    position: relative;
    font-size:1.0rem;
    margin-top: 0%; margin-left: 0%; margin-right: 0%; margin-bottom: 0%; /* 투명 칸 안 이미지 크기 */
    padding-top: 10%; padding-left:0%; padding-right: 0%; padding-bottom: 10%; /* 이미지 안 텍스트 크기 */
    width: 110%; height: auto;
  }
  .img-recommend .rcmd-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    z-index:1;
    font-weight: 500;
    font-size:0.9em;
    color: white;
    max-width: 90%; max-height: auto;
    width: auto; height: auto;
  }
  .img-recommend .rcmd-btn{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:2;
    width: 100%;
    height: 90%;
    margin-top: 0%; margin-left: 0%; margin-right: 0%; margin-bottom: 0%;
    padding-top: 0%; padding-left: 0%; padding-right: 0%; padding-bottom: 0%;
  }
  body{
    background-color: #f2f2f2;
  }
  .container, .container-fluid {
    position:relative;
    background: #f2f2f2;
  }
   .container-custom {
    position:relative;
    top : 25%;
  }
  .navbar-custom {
    position: relative;
    background-color: #f2f2f2;

    max-width:100%;
    max-height:auto;
    height:100%;

    z-index:3;
    
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /*padding: 0.5rem 1rem;*/
  }
  /* change the brand and text color */
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
      color: rgba(255,255,255,.8);
  }
  /* change the link color */
  .navbar-custom .navbar-nav .nav-link {
      color: rgba(255,255,255,.5);
  }
  /* change the color of active or hovered links */
  .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
      color: #ffffff;
  }

  .noresult-text{
    position: absolute;
    top:180%;
    left:50%;
    transform: translate(-50%, -180%);
    font-weight:300;
    font-size: 2.8rem;
  }

  /*여기부터 search_result 페이지 전용*/
  .main-feature{
    position: relative;
    margin-top: 0%; margin-left: 0%; margin-right: 0%; margin-bottom: 0%; 
    max-width: 100%;
    max-height: auto;
    height: 20rem;
  }
  .main-feature .main-feature-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight:300;
    font-size: 1.8rem;
    max-width : 100%;
    max-height: auto;
    transition:none;
  }
  .detailed-filter{
    position: relative;
    margin-top: 0%; margin-left: 0%; margin-right: 0%; margin-bottom: 0%; 
    max-width: 100%;
    max-height: auto;

  }
  .detailed-filter-card{
    position: relative;

    margin-top: 0%; margin-left: 0%; margin-right: 0%; margin-bottom: 0%; /* 투명 칸 안 이미지 크기 */
    padding-top: 0%; padding-left:0%; padding-right: 0%; padding-bottom: 0%; /* 이미지 안 텍스트 크기 */
    color: white;
    max-width: 100%;
    max-height: auto;
    width: 100%; height: auto;
  }
  .detailed-filter-text{
    margin-top: 0%; margin-left: 0%; margin-right: 0%; margin-bottom: 0%;
    padding-top: 10%; padding-left:0%; padding-right: 0%; padding-bottom: 10%;
    position: absolute;
    top:5rem;
    left:50%;
    transform: translate(-50%, -5rem); 
    text-align: center;
    z-index:1;
    font-weight: 500;
    font-size:0.5em;
    color: white;
    max-width: 100%;
    max-height: auto;
    width: 100%; height: auto;
  }
   .card-text{
    margin-top: 0%; margin-left: 0%; margin-right: 0%; margin-bottom: 0%;
    padding-top: 10%; padding-left:0%; padding-right: 0%; padding-bottom: 10%;
    position:absolute;
    top:-50%;
    left:50%;
    transform: translate(-50%, 50%); 
    text-align: center;
    z-index:1;
    font-weight: 500;
    font-size:0.9em;
    color: white;
    max-width: 90%; max-height: auto;
    width: auto; height: auto;
  }
  .visualization{
    position: relative;
    margin-top: 0%; margin-left: 0%; margin-right: 0%; margin-bottom: 0%; 
    max-width: 100%;
    max-height: auto;
    height: 20rem;
  }
  .visualization-text{
    position: absolute;
    top:0%;
    left:3%;
    transform: translate(-3%, 0%);
    text-align: left;
    font-weight:300;
    font-size: 1.5rem;
    max-width : 100%;
    max-height: auto;
    transition:none;
  }
  .visualization-cate{
    position: absolute;
    top:0%;
    left:50%;
    transform: translate(-50%, 0%);
    margin-top: 0%; margin-left: 0%; margin-right: 0%; margin-bottom: 0%;
    padding-top: 3%; padding-left: 3%; padding-right: 3%; padding-bottom: 3%;
    
    max-width: 80%;
    max-height: auto;
    width: 65%; 
    height: auto;
  }
  .visualization-mindmap{
    position: relative;

    margin-top: 0%; margin-left: 0%; margin-right: 0%; margin-bottom: 0%;
    
    max-width: 100%;
    max-height: auto;
  }
  .mindmap-iframe{
    position: absolute;
    top:0%;
    left:-50%;
    transform: translate(50%, 0%);

    margin-top: 0%; margin-left: 0%; margin-right: 0%; margin-bottom: 0%;
    padding-top: 0%; padding-left: 0%; padding-right: 0%; padding-bottom: 0%;
    
    
    max-width: 100%;
    max-height: auto;
    width: 100%;
    height: 100%;
  }

  .slidecontainer {
    position: absolute;
    top:-67%;
    left:50%;
    transform: translate(-50%, 67%);

    margin-top: 0%; margin-left: 0%; margin-right: 0%; margin-bottom: 0%;
    padding-top: 0%; padding-left: 0%; padding-right: 0%; padding-bottom: 0%;
    
    z-index: 2;
    max-width: 100%;
    width: 60%;
    max-height: auto;
    height : 50rem;
  }
  .slidervalue{
    position: absolute;
    top:5%;
    left:50%;
    transform: translate(-50%, -5%);
    font-size:2rem;
  }
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: rgb(117, 117, 117);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(117, 117, 117);
    cursor: pointer;
  }